.videoFrame{
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.vidIFrame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.vidGallery{
    display: grid;
    /*grid-template-columns: 20% 60% 20%;*/
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1fr;
    gap: 0px;
    width: 80vw;
    height: 100%;
    background-color: white;
    border-block: 1px rgb(57,181,74) solid;
}
.vidTextContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px rgb(57,181,74) solid;
    border-top: none;
    grid-row-start: 2;
    grid-row-end: 2;
}
.vidTitle{
    min-height: 80px;
    width: 100%;
    border-bottom: 1px rgb(57,181,74) solid;
    border-top: 1px rgb(57,181,74) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
}
.vidArtistContainer{
    min-height: 80px;
    display: flex;
    flex-direction: row;
}
.vidArtist1{
    flex: 0 1 auto;
    padding-inline: 20px;
    padding-block: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vidArtist2{
    flex: 1 1 auto;
    border-inline: 1px rgb(57,181,74) solid;
}
.vidDescription{
    height: 100%;
    border-top: 1px rgb(57,181,74) solid;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 5px 5px 5px;
}
.imageGallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40vh;
    padding-block: 30px;
    padding-inline: 30px;
}
.galleryImage{
    margin-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.comingSoon{
    margin-inline: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galleryImage:hover{
    outline:2px rgb(57,181,74) solid;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 900px) {
    .vidGallery{
        display: flex;
        flex-direction: column;
    }
    .vidTextContainer{
        order: 2;
    }
    .videoFrame{
        order: 1;
    }
  }
  @media only screen and (max-width: 600px) {
    .vidGallery{
        width: 60vw;
    }
    .imageGallery{
        flex-wrap: wrap;
    }
    .galleryImage{
        width: 200px;
    }
  }